.heads{
    position:absolute;
    top:0px;
    height:60px;
    width:1500px;
    background-color: #131921;
}
.amazo{
    height:50px;
    width:120px;
}
.address{
    width:150px;
    height:50px;
}
.as{
    
background-color: #131921;

}
.as:hover{

border-color: white;
}
.alls{
position:absolute;
top:15px;
left:350px;
padding:  10px 10px;
border-bottom-left-radius: 4px;
border-top-left-radius: 4px;
width:20px;
height:20px;
border-color: white;
font-size: 10px;
background-color: rgb(224, 224, 224);

}
.sall{
    
    border:none;
    border-color: rgb(224, 224, 224); 
    background-color: rgb(224, 224, 224);
}
.search{
position:absolute;
top:15px;
left:390px;
padding:10px 20px;
width:665px;

}
.search:hover{
    border-color: #febd69;
}
.logosearch{
position:absolute;
top:15px;
left:1050px;
background-color: #febd69;
border-bottom-right-radius: 4px;
border-top-right-radius: 4px;
}
.logosearch:hover{
background-color: #fbad46;
}
.lang{
background-color: #131921;
position: absolute;
top:5px;
right:310px;
padding: 10px;

}
.lang:hover{
border-color: white;
}
.accounts{
background-color: #131921;
position: absolute;
top:5px;
right:190px;
padding: 5px;
}
.accounts:hover{
border-color: white;
}
.returns{
position:absolute;
top:5px;
right:100px;
background-color: #131921;
padding: 7.5px;
}
.returns:hover{
border-color: white;
}
.cart{
position: absolute;
top:5px;
right:5px;
background-color: #131921;
}
.cart:hover{
border-color: white;
}
.subhead{
background-color: #232f3e;
position:absolute;
top:60px;
height:39px;
width: 1500px;
}
.all{
background-color: #232f3e;
position: absolute;
top:4px;
}
.all:hover{
border-color: white;
}
.tv{
height:12px; 
}
.view{
text-decoration: none;
font-family: Arial, sans-serif;
font-size: 14px;
cursor:pointer;
color: white;
padding:8px 0 0 9px;
margin:5px 0px 6px 70px;
position: absolute;
}
.pic{
box-sizing: border-box;
position: absolute;
top:0px;
right:60px;
}
.account:hover{
border-color: white;
}
.view:hover{
border-color: white;
}

.boatpad{
    position: absolute;
    margin:50px 0px 0px 20px;
    height:440px;
    width:350px;
    background-color:white;
}
.boxhead{
    padding: 0px 0 0 15px;
    font-family: Arial, sans-serif;
    font-size: 23px;
    color: black;
}
.computer{
    position:absolute;
    margin:50px 0 0 390px;
    height:440px;
    width:350px;
    background-color:white;
}
.men{
    position: absolute;
    margin:50px 0 0 760px;
    height:440px;
    width:350px;
    background-color: white;
}
.signin{
    position: absolute;
    margin:50px 0 0 1130px;
    height:180px;
    width:350px;
    background-color: white;
}
.learn{
    position:absolute;
    margin:250px 0 0 1130px;
    height:240px;
    width:350px;
    background-color: white;
}
.linkimagetopl{
    padding: 0px 0px 0px 15px;
    height:150px;
    width:140px;
}
.linkimagetopr{
    padding:0 0 0 25px;
    height:150px;
    width:140px;
}
.linkimagebotl{
    padding:15px 0 0 15px;
    height:150px;
    width:140px;
}
.linkimagebotr{
    padding: 15px 0 0 25px;
    height:150px;
    width:140px;
}
.first{
    
    margin:90px 0 0 0;
    width:1500px;
    height:250px;
}
.pict{
    margin-left:15px; 
    height:280px;
    width:320px;
}
.pict1{
    margin-left:15px; 
    height:280px;
    width:320px;
}
.off{
    text-decoration: none;
    font-family:Arial, sans-serif;
    font-size:13px;
    padding-left: 15px;
}
.list{
    list-style-type: none;
}
.box{
    margin-top:510px;
}
.box1{
    margin-top:1970px;
}
.box2{
    margin-top:3070px;
}
.box3{
    margin-top:3850px;
}
.spacel{
    position:absolute;
    margin:970px 0 0 20px;
    height:340px;
    width: 1460px;
    overflow: auto;
    background-color: white;
    white-space: nowrap;
}
.imagescol{
    padding:0 0 0 10px;
    height:250px;
    width:230px;
}
.imagel{
    position: absolute;
    margin:1330px 0 0 20px;
    height:300px;
    width:1460px;
    overflow: auto;
    background-color: white;
    white-space: nowrap;
}
.imagel2{
    margin-top:1650px;
}
.imagel3{
    margin-top:2430px;
}
.imagel4{
    margin-top:3530px;
}
.imagel5{
    margin-top:4310px;
}
.homes{
    height:300px;
}
.home{
    width: 1000px;
    height:297px;
}
.dress{
    padding:0 0 0 15px;
    height:200px;
    width:110px;
}
.imagecolm{
    padding:0 0 0 10px;
    height:200px;
    width:110px;
}
.imagecolms{
   width:150px; 
}
.imagecolms1{
    width: 200px;
}
.foot{
position: absolute;
width:1500px;
margin: 4650px 40px 0px 0;

}
.back{
position:relative;
background-color: #37475A;
display: block;
box-sizing: border-box;
padding: 15px 0;
line-height: 19px;
font-size: 13px;
width:1500px;
height:42px;
}
.top{
color: white;
font-size: 14px;
display: block;
text-align: center;
font-family: Arial, sans-serif;
}
.contact{
background-color: #232F3E;
width: 1500px;
position: relative;
padding: 50px 0 20px 0;
box-sizing: border-box;
}
.title{
font-weight: 700;
color: #FFF;
font-size: 16px;
font-family: Arial, sans-serif;
}
.text{
text-decoration: none;
color: #DDD;
font-family:Arial, sans-serif ;
font-size: 14px;
}
.col1{
display: table-cell;
padding: 20 10px;
line-height: 160%;
}
.line{
border-top: 1px solid #4e637d;
box-sizing: border-box;
display: block
}
.amazonfooter{
background-color: #232F3E;
width: 1500px;
position: relative;
padding: 25px 0 20px 0;
box-sizing: border-box ; 
}
.lastcol{
background-color: #131A22;
width:1500px;
padding: 30px 0;
margin: 0px 0 0px 0;
}  
.table{
font-size: 14px;
font-family: Arial, sans-serif;
color: #FFF;
text-decoration: none;
}




@media (max-width: 768px) {
    .heads{
        height:100px;
    }
    .amazo{
        height:90px;
        width:180px;
    }
    .address{
        margin: 0 0 0 2px;
        height:90px;
        width:250px;
    }
    .alls{
        margin-top:5px;
        padding:20px 20px;
        margin-left:150px;
        
    }
    .sall{
        font-size: 20px;
    }
    .search{
        margin-top: 5px;
        margin-left: 170px;
        height:60px;
        width:400px;
    }
    .logosearch{
        margin-top: 5px;
        left:960px;
        height:60px ;
        width:60px;
    }

    .subhead{
        top:100px;
        height:45px;
    }
    .boxhead{
        font-size: 33px;
    }
    .off{
        font-size: 20px;
    }
    .signin{
        display:none;
    }
    .learn{
        display: none;
    }
    .first{
        height:300px;
        width:1500px;
    }
    .boatpad{
        width:460px;
        height:600px;
    }
    .computer{
        margin-left: 510px;
        width:460px;
        height:600px;
    }
    .men{
        margin-left: 1000px;
        width:460px;
        height:600px;
    }
    .box{
        margin-top: 680px;
    }
    .spacel{
        height:500px;
        width:1440px;
        margin-top: 1310px;
    }
    .imagescol{
        height:380px;
        width:350px;
    }
    .imagel{
        width:1440px;
        height:450px;
        margin-top: 1840px;
    }
    .imagecolm{
        height: 300px;
        width: 200px;
    }
    .imagecolms{
        width:240px;
    }
    .imagecolms1{
        width:290px;
    }
    .dress{
        height:300px;
        width: 200px;
    }
   .imagel2{
    display: none;
   }
    .linkimagetopl{
        height: 200px;
        width: 200px;
    }
    .linkimagetopr{
        height: 200px;
        width: 200px;
    }
    .linkimagebotl{
        height: 200px;
        width: 200px;
    }
    .linkimagebotr{
        height: 200px;
        width: 200px;
    }
    .pict{
        margin-left: 30px;
        height:400px;
        width:400px;
    }
    .pict1{
        margin-left:30px; 
        height:360px;
        width:400px;
    }
    .imagel2{
       
        margin-top: 2320px;
    }
    .box1{
        margin-top:2320px ;
    }
    .imagel3{
        
        margin-top: 2950px;
    }
    .box2{
        margin-top:3430px ;
    }
    .imagel4{
        margin-top:4060px ;
    }
    .box3{
        margin-top: 4540px;
    }
    .homes{
        display: none;
    }
    .imagel5{
        margin-top: 5170px;
    }
   .foot{
    margin-top:5700px;
   }
}